@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Way<br />
    Sarratea 1234<br />
    <abbr title="Phone">P:</abbr>
    011 12345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mariolealfuentes@egmail.com">mariolealfuentes@egmail.com</a><br />
</address>